
body{
    font-family: 'Jost', sans-serif;
}

.chat-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.chat-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    margin: 10px auto;
    margin-top: 20px;
    text-decoration: none;
    color: black;
}

.chat-avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #aaa;
}

.chat-username {
    font-size: 1.3rem;
    font-weight: 400;
    margin: 0;
}



.chat-container {
    flex: 1; 
    overflow-y: auto;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.message {
    max-width: 70%;
    padding: 10px 14px;
    margin: 6px 0;
    border-radius: 18px;
    font-size: 14px;
    line-height: 1.4;
    display: inline-block;
    clear: both;
    word-wrap: break-word;
}

.message.user {
    background-color: #8b00ff;
    color: white;
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.message.other {
    background-color: #f8f8f8;
    align-self: flex-start;
    border-bottom-left-radius: 0;
    border: 1px solid #ddd;
}

.message p {
    margin: 0;
}

.chat-form {
    padding: 10px 20px;
   width: 100%;
    margin: 10px auto;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.chat-form textarea {
    flex: 0.5;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    resize: none; 
    overflow-y: auto;
    font-size: 14px;
    line-height: 1.4;
    max-height: 200px;

}

.chat-form button {
    border: none;
    background: #3897f0;
    color: white;
    padding: 10px 15px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 18px;
}

.chat-form button:hover {
    background: #1877f2;
}

.errorlist {
    color: red;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    font-size: 13px;
    text-align: center;
    width: 100%;
}


.errorlist li {
    background: #ffe5e5;
    color: #d60000;
    padding: 6px 12px;
    margin-bottom: 8px;
}
