
:root {
    font-size: 10px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", Arial, sans-serif;
    min-height: 100vh;
    background-color: #fafafa;
    color: #262626;
    padding-bottom: 3rem;
}

img {
    display: block;
}

.container {
    max-width: 93.5rem;
    margin: 0 auto;
    padding: 0 2rem;
}



.btn {
    display: inline-block;
    font: inherit;
    background: none;
    border: none;
    color: inherit;
    padding: 0;
    cursor: pointer;
}

.btn:focus {
    outline: 0.5rem auto #4d90fe;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}




.profile {
    padding: 5rem 0;
}

.profile::after {
    content: "";
    display: block;
    clear: both;
}

.profile-image {
    float: left;
    width: calc(33.333% - 1rem);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3rem;
}

.profile-image img {
    width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	display: block;
	z-index: 1;
	position: relative;
}

.profile-user-settings,
.profile-stats,
.profile-bio {
    float: left;
    width: calc(66.666% - 2rem);
}

.profile-user-settings {
    margin-top: 1.1rem;
}

.profile-user-name {
    display: inline-block;
    font-size: 3.2rem;
    font-weight: 300;
}

.profile-edit-btn {
    font-size: 1.4rem;
    line-height: 1.8;
    border: 0.1rem solid #dbdbdb;
    border-radius: 0.3rem;
    padding: 0 2.4rem;
    margin-left: 2rem;
}

.profile-settings-btn {
    font-size: 2rem;
    margin-left: 1rem;
}

.profile-stats {
    margin-top: 2.3rem;
}

.profile-stats li {
    display: inline-block;
    font-size: 1.6rem;
    line-height: 1.5;
    margin-right: 4rem;
    cursor: pointer;
}

.profile-stats li:last-of-type {
    margin-right: 0;
}

.profile-bio {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 2.3rem;
}

.profile-real-name,
.profile-stat-count,
.profile-edit-btn {
    font-weight: 600;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    margin: -1rem -1rem;
    padding-bottom: 3rem;
}

.gallery-item {
    position: relative;
    flex: 1 0 22rem;
    margin: 1rem;
    color: #fff;
    cursor: pointer;
}

.gallery-item:hover .gallery-item-info,
.gallery-item:focus .gallery-item-info {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.gallery-item-info {
    display: none;
}

.gallery-item-info li {
    display: inline-block;
    font-size: 1.7rem;
    font-weight: 600;
}

.gallery-item-likes {
    margin-right: 2.2rem;
}

.gallery-item-type {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    text-shadow: 0.2rem 0.2rem 0.2rem rgba(0, 0, 0, 0.1);
}

.fa-clone,
.fa-comment {
    transform: rotateY(180deg);
}

.gallery-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.loader {
    width: 5rem;
    height: 5rem;
    border: 0.6rem solid #999;
    border-bottom-color: transparent;
    border-radius: 50%;
    margin: 0 auto;
    animation: loader 500ms linear infinite;
}


@media screen and (max-width: 40rem) {
    .profile {
        display: flex;
        flex-wrap: wrap;
        padding: 4rem 0;
    }

    .profile::after {
        display: none;
    }

    .profile-image,
    .profile-user-settings,
    .profile-bio,
    .profile-stats {
        float: none;
        width: auto;
    }

    .profile-image img {
        width: 7.7rem;
    }

    .profile-user-settings {
        flex-basis: calc(100% - 10.7rem);
        display: flex;
        flex-wrap: wrap;
        margin-top: 1rem;
    }

    .profile-user-name {
        font-size: 2.2rem;
    }

    .profile-edit-btn {
        order: 1;
        padding: 0;
        text-align: center;
        margin-top: 1rem;
    }

    .profile-edit-btn {
        margin-left: 0;
    }

    .profile-bio {
        font-size: 1.4rem;
        margin-top: 1.5rem;
    }

    .profile-edit-btn,
    .profile-bio,
    .profile-stats {
        flex-basis: 100%;
    }

    .profile-stats {
        order: 1;
        margin-top: 1.5rem;
    }

    .profile-stats ul {
        display: flex;
        text-align: center;
        padding: 1.2rem 0;
        border-top: 0.1rem solid #dadada;
        border-bottom: 0.1rem solid #dadada;
    }

    .profile-stats li {
        font-size: 1.4rem;
        flex: 1;
        margin: 0;
    }

    .profile-stat-count {
        display: block;
    }
}


@keyframes loader {
    to {
        transform: rotate(360deg);
    }
}



@supports (display: grid) {
    .profile {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-template-rows: repeat(3, auto);
        grid-column-gap: 3rem;
        align-items: center;
    }

    .profile-image {
        grid-row: 1 / -1;
    }

    .gallery {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
        grid-gap: 2rem;
    }

    .profile-image,
    .profile-user-settings,
    .profile-stats,
    .profile-bio,
    .gallery-item,
    .gallery {
        width: auto;
        margin: 0;
    }

    @media (max-width: 40rem) {
        .profile {
            grid-template-columns: auto 1fr;
            grid-row-gap: 1.5rem;
        }

        .profile-image {
            grid-row: 1 / 2;
        }

        .profile-user-settings {
            display: grid;
            grid-template-columns: auto 1fr;
            grid-gap: 1rem;
        }

        .profile-edit-btn,
        .profile-stats,
        .profile-bio {
            grid-column: 1 / -1;
        }

        .profile-user-settings,
        .profile-edit-btn,
        .profile-settings-btn,
        .profile-bio,
        .profile-stats {
            margin: 0;
        }
    }
}










.floating-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 350px;
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 9999;
    padding: 1rem;
    overflow-y: auto;
  }

  .create-post-floating-box {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    
    transform: translate(-50%, -50%);
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    z-index: 9999;
    padding: 1rem;
    overflow-y: auto;
  }
  
  .floating-box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.3rem;
  }
  
  .floating-box-header h3 {
    margin: 0;
    font-size: 1.6rem;
  }
  
  .close-btn {
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .followers-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .followers-list li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .followers-list li img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
  }

  .follower-user{
    
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.follower-name{
    font-size: 1.5rem;
    font-weight: 100;
    color: #262626;
}
  

  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: 9998; 
  }

  body.modal-open {
    overflow: hidden;
  }







.search-bar-container {
    position: absolute;
    max-width: 300px;
    margin: 20px auto;
    
    top: 80px;
    right: 30px;
  }
  
  #liveSearchInput {
    width: 100%;
    padding: 8px 12px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
    font-size: 14px;
  }
  
  .live-search-results {
    position: absolute;
    top: 105%;
    left: 0;
    right: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 10px;
    z-index: 1000;
    display: none;
    max-height: 200px;
    overflow-y: auto;
  }
  
  .live-search-results a {
    display: flex;
    align-items: center;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    transition: background 0.2s ease;
  }
  
  .live-search-results a:hover {
    background: #f0f0f0;
  }
  
  .live-search-results img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }
  



  
  
  


  .post-container {
    display: flex;
    width: 80vw;
    max-width: 900px;
    height: 550px;
    background-color: white;
    border-radius: 12px;
    overflow: hidden;
  }
  
  .post-form {
    display: flex;
    width: 100%;
    height: 100%;
  }
  
  .post-image-preview {
    flex: 3;
    background-color: #f0f0f0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .post-image-preview img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  .post-form-fields {
    flex: 2;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 1rem;
    background-color: #fff;
    box-sizing: border-box;
    
   
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  
  
  .form-group input[type="file"],
  .form-group textarea {
    padding: 0.6rem;
    border-radius: 6px;
    font-size: 1.4rem;
    border: none;
    resize: none;
    outline: none;
    overflow: auto;
   
    
  }

  .form-group input {
    padding: 0.6rem;
    border-radius: 6px;
    font-size: 1.4rem;
    border: none;
    outline: none;
    
  }

.post-image-preview img{
    z-index: 1;
}

.post-overlay{
    position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 1;
	transition: opacity 0.3s ease;
	z-index: 2;
	pointer-events: none;
    opacity: 0;
}

.post-image-preview:hover .post-overlay{
    opacity: 1;
}

.upload-btn-bottom-left{
    z-index: 3;
    position: absolute;
    color: white;
	font-size: 4.2rem;
	width: 30px;
	height: 30px;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.post-image-preview:hover .upload-btn-bottom-left{
    opacity: 1;
}

  #id_post_image {
	display: none;
}
  
  .publish-btn {
    margin-top: auto;
    background-color: #0095f6;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 6px;
    font-size: 1.4rem;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .publish-btn:hover {
    background-color: #007fd6;
  }
  

  .errorlist{
    color: red;
    font-size: 1.3em;
  }

  
  
  
  
  
  
  
  .gallery-item{
    max-height: 500px;
    max-width: 500px;
  }