
*{
    box-sizing: border-box;
}


.navbar{
    position: fixed;
    left: 0;
    top:0;
    display: flex;
    flex-direction: column;
    gap:10%;
    width: 10vw;
    height: 100vh;
    padding: 20px;
    justify-content: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.navbar a{
    text-decoration: none;
    font-size: 1.2vw;
    color: #333;

    font-weight: bold;
    width: 100%;
    padding: 10px 0;


    transition: background 0.2s;

}




.navbar a:hover{
    background-color: #f2f2f2;
    border-radius: 8px;
}

.navbar a.active{
  color: #e41c5f;
}



.icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  stroke-width: 2;

}


