{% extends "base.html" %}

{% load static %}

{% block title %}Send Password Reset{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static "autho/reset.css" %}"/>

{% endblock css %}

{% block content %}
<!--Reset password (Enter email)-->
<div class="main">
        
        <div class="signup" >
            
            <label for="chk" aria-hidden="true">Enter your email</label>
            <form method="POST">
                {% csrf_token %}
               {{form.email}}
               {{form.errors.email}}
                <button type="submit">Send Reset E-mail</button>
            </form>
        
        </div>
</div>

{% endblock content %}