
{% extends "base.html" %}

{% load static %}

{% block title %}Password Reset Successful{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static "autho/reset-complete.css" %}"/>

{% endblock css %}

{% block content %}
<!--Confirms password reset done (Your password has been changed)-->
<h2 class="reset-complete"> Password Reset Successful </h2>
<p> Your Password has been reset successfully </p>

<a href="{% url "user-login" %}">Go back to login page &rarr; </a>


{% endblock content %}




