{% extends "base.html" %}

{% load static %}

{% block title %}Password Reset{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static "autho/reset-confirm.css" %}"/>

{% endblock css %}


{% block content %}
<!--Checks if reset link is valid-->
{% if validlink %}
<!--Reset your password-->
<div class="main">
    
    <div class="signup" >

        <label for="chk" aria-hidden="true">Create New Password</label>
        <form method="POST">
            {% csrf_token %}
            {{form.new_password1}}
            {{form.errors.new_password1}}
            {{form.new_password2}}
            {{form.errors.new_password2}}
    
            <button type="submit">Reset Password</button>
        </form>
        
    </div>

</div>

{% else %}
<!--If reset link not valid-->
<h1 style="color:white;margin-bottom:8%;">Reset Link not valid!</h1>

{% endif %}

{% endblock content %}






