{% extends "base.html" %}

{% load static %}

{% block title %}Password Reset Sent{% endblock title %}

{% block css %}

<link rel="stylesheet" href="{% static "autho/reset-complete.css" %}"/>

{% endblock css %}

{% block content %}
    <!--Password reset confirmattion (E-mail sent with reset link)-->
    <h2 class="reset-done"> Password Reset E-mail sent to your e-mail </h2>
    <p> Check your mail for the reset password link </p>
    <a href="{% url "user-login" %}"> &larr; Back to Login page?</a>

{% endblock content %}